<launch>

    <param name="acca_folder" type="str" value="/home/acca/catkin_ws/src" />
    <param name="odometry_topic" type="str" value="/fake_odom" />
    <param name="area_file_name" type="str" value="ssu_area2.csv" />
    <param name="save_area" type="bool" value="true" />

    <!-- 
        0: LANE
        1: GLOBAL
        2: STATIC
        3: DYNAMIC
        4: PARKING
     -->

    <!-- Sensors -->

        <!-- LiDAR -->
        <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
        <!-- <node name="velodyne_laserscan_node" pkg="velodyne_laserscan" type="velodyne_laserscan_node" /> -->

    <!-- Sensors end -->
        
    <!-- Odometry -->
    <node name="fake_odometry" pkg="odometry" type="fakeOdometry.py" />

    <!-- Path Planner -->
    <node name="publish_state" pkg="path_planner" type="publish_state.py" output="screen" />

    <!-- Localization -->
    <include file="$(find hdl_localization)/launch/hdl_localization.launch">
        <arg name="map_file" value="$(find hdl_localization)/data/Globalmap2.pcd" /> 
    </include>


    <!-- Model -->
    <include file="$(find erp42_vehicle_rviz)/launch/erp42_vehicle_rviz.launch">
        <arg name="rvizconfig" value="/home/acca/model.rviz" />
    </include>

    <!-- Test -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0.0 0.0 0 map odom 10" />

</launch>