<launch>

    <!-- Sensors -->

        <!-- IMU -->
        <include file="$(find xsens_mti_driver)/launch/xsens_mti_node.launch" >
            <arg name="port" value="/dev/ttyUSB0" />
        </include>
        
        <!-- LiDAR -->
        <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

    <!-- Sensors end -->
        
    <!-- Odometry -->
    <node name="fake_odometry" pkg="odometry" type="fakeOdometry.py" output="screen" />

    <!-- Path Planner -->
    <param name="save_file_name" type="str" value="parking_path1.csv" />
    <node name="odometry_path_generator" pkg="path_planner" type="odometry_path_generator.py" output="screen" />

    <!-- Localization -->
    <include file="$(find hdl_localization)/launch/hdl_localization.launch">
        <arg name="map_file" value="$(find hdl_localization)/data/Globalmap2.pcd" /> 
    </include>

    <!-- Model -->
    <include file="$(find erp42_vehicle_rviz)/launch/erp42_vehicle_rviz.launch" />

    <!-- Test -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0.0 0.0 0 map odom 10" /> -->

</launch>