<launch>

    
    <!-- Sensors -->
    
    <!-- IMU -->
    <!-- <include file="$(find xsens_mti_driver)/launch/xsens_mti_node.launch" >
        <arg name="port" value="/dev/ttyUSB1" />
    </include> -->
    
    <!-- LiDAR -->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
    <node name="velodyne_laserscan_node" pkg="velodyne_laserscan" type="velodyne_laserscan_node" />
    
    <!-- Sensors end -->
    
    <!-- Odometry -->
    <!-- <param name="erp_port" type="str" value="/dev/ttyUSB0" /> -->
    <!-- <node name="erp42_encoder" pkg="odometry" type="erp42_encoder.py" output="screen" /> -->
    <node name="fake_odometry" pkg="odometry" type="fakeOdometry.py" output="screen" />

    <!-- Path Publish -->
    <!-- <node name="path_planner" pkg="path_planner" type="path_planner.py" output="screen" /> -->

    <!-- Localization -->
    <include file="$(find hdl_localization)/launch/hdl_localization.launch">
        <arg name="map_file" value="$(find hdl_localization)/data/Globalmap2.pcd" /> 
    </include>

    <!-- MoveBase -->
    <include file="$(find move_base)/move_base_real.launch" />

    <!-- Model -->
    <include file="$(find erp42_vehicle_rviz)/launch/erp42_vehicle_rviz.launch" />

    <!-- Test -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0.0 0.0 0 map odom 10" />

</launch>