<launch>

    
    <!-- Sensors -->
    
    <!-- IMU -->
    <include file="$(find xsens_mti_driver)/launch/xsens_mti_node.launch" >
        <arg name="port" value="/dev/ttyUSB1" />
    </include>
    
    <!-- LiDAR -->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
    <!-- <node name="velodyne_laserscan_node" pkg="velodyne_laserscan" type="velodyne_laserscan_node" /> -->
    
    <!-- Sensors end -->
    
    <!-- Odometry -->
    <!-- <param name="erp_port" type="str" value="/dev/ttyUSB0" />
    <node name="erp42_encoder" pkg="odometry" type="erp42_encoder.py" output="screen" />
    <node name="erp42_odometry" pkg="odometry" type="erp42_odometry.py" /> -->
    <!-- <node name="fake_odometry" pkg="odometry" type="fakeOdometry.py" output="screen" /> -->

    
    <!-- Path Publish --> 
    <param name="c_gain" type="double" value="100.0" />
    <param name="desired_speed" type="double" value="0.5" />
    <node name="stanley_method" pkg="path_planner" type="global_stanley.py" output="screen" />

    <!-- Localization -->
    <include file="$(find hdl_localization)/launch/hdl_localization.launch">
        <arg name="map_file" value="$(find hdl_localization)/data/Globalmap2.pcd" /> 
    </include>

    <!-- Model -->
    <include file="$(find erp42_vehicle_rviz)/launch/erp42_vehicle_rviz.launch" />

    <!-- Test -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 -0.0 0.0 -0.0 0.0 0.0 map odom 10" />
    <!-- -2.676659107208252,-3.7524757385253906,-2.29648101519 -->


</launch>