<launch>

   <!-- <node pkg="lms1xx" type="LMS1xx_node" name="lms1xx" output="screen">
    <param name="sensor_param" value="param_value" />
 </node> -->
 <node pkg="odom" type="odom" name="odom" output="screen">
    <param name="odom_param" value="param_value" />
 </node>
 <!-- <node pkg="" type="transform_configuration_type" name="transform_configuration_name" output="screen">
    <param name="transform_configuration_param" value="param_value" />
 </node> -->

 <include file="$(find steer_bot)/launch/view_model.launch">
   <arg name="model" value="$(find steer_bot)/urdf/steer_bot.urdf.xacro"/>
</include>

</launch>
